

body{
    text-align: center;
    
    background-image: url(bgvid.mp4);
}

form{
    text-align: left;
    transform: translateX(520px);
    font-size: 30px;
    /* position:static; */
    
}

label{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Buda', Arial, Helvetica, sans-serif;
}
input[type=checkbox] {
    transform: scale(1.5);
    
}
button{
    transform: scale(2.5);
    height: 30px;
    font-family: 'Jersey 15', Arial, Helvetica, sans-serif;
    background-color: rgb(96, 181, 96);
    border-style: solid;
    border-color: rgb(44, 80, 49);
    border-radius: 20px;
    color: rgb(227, 249, 229);
    
}
h1{
    color: aliceblue;
    font-size: 65px;
    font-family: 'Jersey 10', Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: rgb(113, 206, 114);
    transform: scale(3);
}
button:active{
    background-color: rgb(96, 181, 96);
    transform: scale(2.5);
    
}
#gen{
    color: aliceblue;
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 30px;
    transform: translateX(470px);
    width: 500px;
    height: 65px;
    border-style: solid;
    border-radius: 45px;
    background-color: black;
    font-family: 'Buda', Arial, Helvetica, sans-serif;
}
#input{
    height: 40px;
    width: 100px;
    text-align: center;
    font-size: 30px;
    border-style: solid;
    border-radius: 50px;
    border-width: 3px;
    border-color: aliceblue;
    background-color: black;
    color: aliceblue;
}
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#bgvid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;   /* fills screen without stretching */
    z-index: -1;         /* sends video behind content */
}

/* .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 40vh;
} */

#black{
    position: fixed;
    transform: translateX(-265px);
    opacity: 80%;
     z-index:-1;
    height: 750px;
    width:530px;
    margin-top: 0px;
}
